<section>
<div class="search">
<h1>Mandi Prices</h1>
<label>Search: </label>

<input type="text" name="text" ng-model="key" placeholder="Search for commodities" autofocus>
<button ng-click="ListController()" class="btn" >Search</button>
<label class="formgroup">by:
<select ng-model="mandiOrder" >
<option value="State">State</option>
<option value="Commodity">Commodity</option>
<option value="district">District</option>
</select>
</label>
<label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse" >
      ascending
       
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked >
      descending
    </label>
</div>
  <ul class="artistlist"  >
    
    <li class="artist cf" ng-repeat="item in mandi.records  | orderBy 'commodity' :direction ">
    <a href="#/details/{{mandi.records.indexOf(item)}}">
      <div class="info">
        
        <h2>{{item.commodity}}</h2>
        <h3>{{item.market}} Market {{ item.district}} District {{ item.state}}</h3>
        <h4>Min.Price {{item.min_price}} Max.Price {{ item.max_price}}</h4>
      </div>
</a>
    </li>
  </ul>
</section>
