<section>
<div class="search">
<h1>Mandi Directory</h1>
<label>Search: </label>
<input ng-model="query" placeholder="Search for commodities" autofocus>
<label class="formgroup">by:
<select ng-model="mandiOrder">
<option value="market">Market</option>
</select>
</label>
<label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
</div>
  <ul class="artistlist" ng-show='query'>
    <li class="artist cf" ng-repeat="item in mandi.records | filter: query | orderBy: mandiOrder:direction">
    <a href="#/details/{{mandi.records.indexOf(item)}}">
      <div class="info">
        
        <h2>{{item.commodity}}</h2>
        <h3>{{item.market}} Market {{ item.district}} District {{ item.state}}</h3>
        <h4>Min.Price {{item.min_price}} Max.Price {{ item.max_price}}</h4>
      </div>
</a>
    </li>
  </ul>
</section>
